
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# Media Dashboard Sensors
rest: !include media_dashboard_sensors.yaml

# Media Dashboard Templates
template: !include media_dashboard_templates.yaml
