{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 45.143244199981794,
    "longitude": -92.66872965310932,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/Chicago",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}