services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - SETTINGS_ENCRYPTION_KEY=${SETTINGS_ENCRYPTION_KEY}
      - CLI_ARGS=--webservice-password=admin
      - HEALTHCHECKS_URL=${HEALTHCHECKS_URL}
    volumes:
      - ./duplicati/config:/config
      - C:\docker-projects:/source/docker-configs:ro
      - C:\backups:/backups  # Store backups on C:\ drive
    ports:
      - 8200:8200
    restart: unless-stopped